<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Tareas pendientes</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="tarea">Tarea</label>
                                <input type="text" class="form-control" id="tarea" placeholder="Ingresar tarea..." #desc>
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="guardar(desc.value)">Guardar</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <app-tarea *ngFor="let t of tareas" [tarea]="t"></app-tarea>
    </div>
</div>